<div class="header">
    <div class="header__logo">
        <a href="">Instagram</a>
    </div>
    <div class="header__buscador">
        <div class="busqueda">

            <input type="text">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
</div>

<div class="contenedor">

    <div class="contenido">

        <!-- Sidenav -->
        <div class="contenido__sidenav">
            <div class="contenido__sidenav--perfil">
                <i class="fa-solid fa-user"></i>
            </div>
            <hr style="width: 60%; margin: 10px auto; border: 1px solid black;">
            <div class="contenido__sidenav--items">
                <ul>
                    <li><a></a></li>
                    <li>
                        <a>
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="span">Me gusta</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="material-symbols-outlined">grade</span>
                            <span class="span">Guardados</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a>
                            <span class="material-symbols-outlined">settings</span>
                            <span class="span">Configuracion</span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <hr style="width: 60%; margin: 10px auto; border: 1px solid black;">
            <div class="sidenav__footer">
                <li>
                    <a class="btn-configuracion">
                        <span class="material-symbols-outlined">settings</span>
                        <span class="span">Configuracion</span>
                    </a>
                </li>
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="pantallaprincipal">
            <div class="pantallaprincipal__historias">
                <div class="pantallaprincipal__historias--historia"></div>
                <div class="pantallaprincipal__historias--historia"></div>
                <div class="pantallaprincipal__historias--historia"></div>
                <div class="pantallaprincipal__historias--historia"></div>
                <div class="pantallaprincipal__historias--historia"></div>
                <div class="pantallaprincipal__historias--historia"></div>
            </div>
        </div>

        <!-- Seccion Mensajes -->
        <div class="mensajes">
            <div class="mensajes__buscador">
                <input type="text" placeholder="Buscar">
                <a>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a>
            </div>
            <div class="mensajes__cabezera">
                <p style="float: left;">Mensajes</p>
                <p style="float: right;">Solicitudes</p>
            </div>
            <hr style="width: 80%; margin: 10px auto; border: 1px solid white;">
            <div class="mensajes__contenido">
                <ul>
                    <li>
                        <div class="mensajes__contenido--perfil perfil-usuario"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                    <li>
                        <div class="mensajes__contenido--perfil"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                    <li>
                        <div class="mensajes__contenido--perfil"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                    <li>
                        <div class="mensajes__contenido--perfil"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                    <li>
                        <div class="mensajes__contenido--perfil"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                    <li>
                        <div class="mensajes__contenido--perfil"></div>
                        <div class="mensajes__contenido--mensaje"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-configuracion">
            <div class="panel-configuracion--header">
                <h1 >Configuracion</h1>
            </div>
        </div>
    </div>
</div>