* {

    --fondo: #252422;
}


/* Inicio header */
.header {
    background-color: #24252A;
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    z-index: 1;
}

.header__logo {
    position: absolute;
    width: 160px;
    height: 100%;
    display: table;
    text-align: center;
}

.header__logo a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 160%;
}
.header__logo a:hover {
    color: lightblue;
}

.header__buscador {
    position: relative;
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}

.busqueda {
    margin: auto;
}

.busqueda input {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin: auto;
    padding-left: 10px;
}

.busqueda a {
    padding: 10px 13px;
    margin-left: 10px;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
}
.busqueda a:hover {
    background-color: lightblue;
    color: black;
}

/* Fin header */

.contenedor {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.contenido {
    position: relative;
    width: 100%; height: calc(100% - 70px);
    margin-top: 70px;
    display: flex;
}

/* Configuracion sidenav -----------------------------*/
.contenido__sidenav {
    background-color: lightcyan;
    position: absolute;
    width: 80px;
    height: 100%;
    transition: 0.3s;
    overflow: hidden;
}

.contenido__sidenav:hover {
    background-color: lightcyan;
    position: absolute;
    width: 200px;
    height: 100%;
}
.contenido__sidenav:hover ~.pantallaprincipal {
    margin-left: 200px;
    width: 80%;
}

.contenido__sidenav:hover .contenido__sidenav--perfil i {
    font-size: 220%;
}
.contenido__sidenav:hover li {
    margin-left: 10px;
    
}
/* FinConfiguracion sidenav -----------------------------*/

/* Configuracion perfil---------------------------- */
.contenido__sidenav--perfil {
    width: 80px; height: 80px;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.contenido__sidenav--perfil i {
    display: table-cell;
    vertical-align: middle;
    font-size: 160%;
    border-radius: 50%;
    transition: 0.3s;
}
/* Fin Configuracion perfil---------------------------- */

/* Configuracion Items Sidenav */
ul {
    padding: 0;
}

.contenido__sidenav--items {
    height: 75%;
}

.contenido__sidenav li{
    display: flex;
    list-style: none;
    margin: 10px 0;
    margin-left: 17px;
    margin-right: 17px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.contenido__sidenav li:hover{
    background-color: green;
    color: white;
}

.contenido__sidenav--items .span,
.sidenav__footer .span {
    position: absolute;
    float: right;
    margin-left: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.material-symbols-outlined {
    padding: 10px 7px;
    font-size: 180%;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/* Fin Configuracion Items Sidenav */

/* Configuracion pantalla principal */
.pantallaprincipal {
    background-color: lightblue;
    position: relative;
    width: 85%; height: 100%;
    margin-left: 70px;
    transition: 0.3s;
}
/* Fin Configuracion pantalla principal */

/* Configuracion Historias */
.pantallaprincipal__historias {
    background-color: grey;
    position: relative;
    width: 100%; height: 70px;
    display: flex;
}

.pantallaprincipal__historias--historia {
    background-color: rgb(207, 207, 207);
    position: relative;
    width: 60px; height: 60px;
    margin: auto 10px;
    border-radius: 50%;
    border: 2px solid red;
}
/* Fin Configuracion Historias */

/* Configuracion seccion mensajes */
.mensajes {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    position: relative;
    width: 15%; height: 100%;
    float: right;
}

.mensajes__buscador {
    height: 50px;
    display: flex;
}

/* Buscador */
.mensajes__buscador .material-symbols-outlined{
    position: absolute;
    left: 20px;
    top: 3px;
    font-size: 160%;
    cursor: pointer;
    color: white;
}
.mensajes__buscador input {
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    padding-left: 40px;
    color: white;
}
.mensajes__buscador input::placeholder {
    color: rgb(255, 255, 255,0.7);
}
/* Fin Buscador */

.mensajes__cabezera {
    position: relative;
    height: 30px;
    padding: 0 10px;
    color: lightblue;
}

.mensajes__contenido li {
    background-color: rgba(65, 65, 65, 0.9);
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    width: 100%; height: 60px;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
}
.mensajes__contenido li:hover {
    background-color: rgb(193, 239, 255,0.1)
}



.mensajes__contenido--mensaje {
    
    width: 200px; height: 100%;
    float: right;
}


/* Panel de configuracion */

.panel-configuracion {
    background-color: black;
    position: absolute;
    height: 0vh;
    top: 20px;
    left: 280px; right: 280px;
    transition: 0.3s;
    overflow: hidden;
}

.panel-configuracion--header {
    /* background-color: lightblue; */
    width: 100%;
    height: 50px;
    text-align: center;
    
}

/* Vista perfil */
.mensajes__contenido--perfil {
    background-color: white;
    width: 60px; height: 60px;
    float: left;
    border-radius: 50%;
    border: 2px solid red;
}